.statusbar {
  width: 100%;
  margin: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  height: 50px;
  background-image: url("../img/pattern.png");
}

.statusbar-elem {
  padding: 0;
}

.status-wrapper {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  font-size: 2rem;
  height: 50px;
  width: 130px;
}

.main-wrapper {
  width: 100%;
  height: 100%;
}

.errors-wrapper {
  height: calc(100vh - 50px);
}

.info-section-header {
  font-size: 1.4rem;
  margin: 0;
  width: 100%;
  height: 35px;
}

.info-header-wrapper {
  width: max-content;
  padding-right: 10px;
}

.warnings-header {
  font-size: 1.2rem;
  margin: 0;
  width: 100%;
  height: 27px;
  border-bottom: 2px solid black;
}

.info-text {
  margin-right: 5px;
}

.warnings-container {
  font-size: 1.5rem;
  margin: 0;
  padding-left: 5px;
  border-bottom: 2px solid black;
}

.warning-info {
  font-size: 1rem;
  margin: 0;
  width: 100%;
  height: 25px;
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

.errors-header {
  font-size: 1.5rem;
  margin: 0;
}

.errors-container {
  font-size: 1.5rem;
  margin: 0;
  padding-left: 5px;
}

.node {
  padding-left: 15px;
}
